.create_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100000;
}
.create_wrap {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  padding: 20px 0;
  max-height: 90%;
  overflow: auto;
}
.infor_wrap {
  width: 40%;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  padding: 20px 0;
  max-height: 90%;
  overflow: auto;
}
.create_close_wrap {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropzone_container {
  width: 200px;
  height: 200px;
  border: 2px dashed #cccccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropzone_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}
.create_input {
  font-family: "SF Pro";
  width: 70%;
  padding: 8px 10px;
  font-size: 16px;
  border: 1.5px solid #000;
  border-radius: 8px;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  min-height: 40px;
}

.create_input:focus {
  box-shadow: 5.5px 7px 0 black;
}
.create_input_container {
  display: flex;
  justify-content: center;
}
.create_button {
  height: 40px;
  width: 150px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.btn_create_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.create_btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
  font-family: "SF Pro";
}

.create_type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.create_button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: black;
  border: none;
}

.create_type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}
.infor_img_wrap {
  width: 600px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  margin-bottom: 10px;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.infor_detail_wrap {
  display: flex;
  margin-left: 20px;
}
.infor_btn_wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.reason_input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  & > textarea {
    width: 70%;
    min-height: 150px;
    padding: 10px;
    border-radius: 15px;
  }
}
.search_form {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.search_form_wrap {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search_form_item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.search_form_input {
  margin-right: 5px;
  height: 34px;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 13px;
  width: 250px;
}
.search_form-date {
  height: 34px;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 15px;
}
.create_theme_wrap {
  display: flex;
}
.theme_preview {
  width: 300px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.theme_edit {
  margin-left: 50px;
  width: 650px;
  height: 650px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.theme_title {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  margin-bottom: 3px;
}
.them_title_txt {
  font-size: 13px;
  flex: 1;
  text-align: center;
  margin-left: -10px;
}
.theme_image {
  width: 100%;
  height: 130px;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.theme_infor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
  align-items: center;
}
.theme_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.theme_infor_title {
  font-size: 13px;
  flex: 1;
}
.theme_br {
  width: 90%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}
.theme_card_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}
.theme_card {
  width: 45%;
  margin: 0 2%;
  background-color: rgba(234, 152, 91, 0.15);
  font-size: 13px;
  border-radius: 10px;
  padding: 10px 5px;
  height: 105px;
  margin-bottom: 10px;
}
.theme_card_infor {
  text-align: center;
  font-size: 11px;
}
.theme_card_btn_wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
  & > button {
    width: 45%;
    height: 25px;
    font-size: 8px;
    background-color: #e47070;
    border: none;
    border-radius: 20px;
    font-weight: 700;
  }
}
.theme_label {
  font-size: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.theme_input {
  display: flex;
  align-items: center;
  width: 43%;
  margin: 0 2%;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.theme_input_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
}
.marketing {
  width: calc(100% - 310px);
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  height: 210px;
}
.qrCode_container {
  width: 310px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px 0;
}
.qr_image {
  width: 100%;
  display: flex;
  justify-content: center;
  & > div {
    width: 150px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    & > img {
      width: 100%;
      height: auto;
    }
  }
}
.marketing_card {
  width: 280px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.marketing_dots {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.marketing_btn {
  position: absolute;
  top: 25px;
  right: 25px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 10px;
  width: 60px;
  cursor: pointer;
  overflow: hidden;
}
.marketing_btn_item {
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  &:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.common_form {
  display: flex;
}
.eyes_items_custom {
  position: absolute;
  right: 80px;
  top: 25%;
  font-size: 15px;
  cursor: pointer;
}